/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

h1{
 padding-top: 20px;
 padding-left: 30px;
 color:black;
}
p{
 padding-left: 50px;
 color:black;
 padding-top: 40px;
 font-size: 13px;
}

h3 {
	padding-top: 30px;
	padding-left: 30px;
	color: black;
}

.a1 {
	padding-top: 50px;
	padding-left: 50px;
	color: black;
}

.a2 {
	padding-top: 50px;
	padding-left: 90px;
	color: black;
}

.a3 {
	padding-left: 50px;
	color: black;
}

.a4 {
	padding-left: 90px;
	color: black;
}

.a5 {
	color: black;
}

.a6 {
	color: black;
}

.a7 {
	color: black;
}